<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HomeEntities" connectionString="metadata=res://*/Home.csdl|res://*/Home.ssdl|res://*/Home.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALLEN-PC;initial catalog=NursingHome;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NursingHomeEntities" connectionString="metadata=res://*/Home.csdl|res://*/Home.ssdl|res://*/Home.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALLEN-PC;initial catalog=NursingHome;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>